---
export interface Props {
  title: string;
  price: number;
  color: string;
  href: string;
}

const { href, title, color, price } = Astro.props;
---

<div class="group relative">
  <div
    class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
  >
    <img
      src={href}
      alt="Front of men's Basic Tee in black."
      class="h-full w-full object-cover object-center lg:h-full lg:w-full"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a href="#">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {title}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500">{color}</p>
    </div>
    <p class="text-sm font-medium text-gray-900">${price}</p>
  </div>
</div>
